<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::.content},~{::title},~{::script})}">
<head>
    <title>Signup</title>
</head>
<body>
    <div class="content">
        <h1>Welcome to Signup page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolorem eveniet tempora libero sit! Blanditiis neque voluptatem ullam, harum nostrum sit fuga repudiandae, placeat adipisci magnam molestiae inventore doloremque. Molestiae.</p>
    </div>
    <script>
        console.log("Signup page");
    </script>
</body>
</html>